
<div class="row">
    <h1 class="text-center"> Proyectos</h1>
    <div class="col-lg-2">
        <button (click)="openModal()" class="btn btn-dark" type="button" *ngIf="isLogged">Agregar <i class="bi bi-plus-circle-dotted"></i></button> 
    </div>
    
    <div class="col-lg-11" *ngIf="modalBoton == true">
        <app-new-proyecto-modal></app-new-proyecto-modal>
    </div>
   
    <div class="col-lg-11">
        <table class="table ">
            <tbody>
                <tr *ngFor="let Proyectos of proyectos">
                    <div class="row align-items-start">
                        <div class="col"><h5>{{Proyectos.nombreP}}</h5></div>
                        <div class="col">{{Proyectos.descripcionP}}</div>
                        <div class="col">
                            <td *ngIf="isLogged">
                                <button class="btn btn-primary" routerLink="/editproy/{{Proyectos.id}}"><i class="bi bi-wrench-adjustable"></i> EDITAR</button>
                            </td>
                            <td style="color:transparent;">| |</td>
                            <td *ngIf="isLogged">
                                <button class="btn btn-danger" (click)="delete(Proyectos.id)"><i class="bi bi-trash3-fill"></i> BORRAR</button>
                            </td>
                        </div>
                        <div class="col">
                            <img src={{Proyectos.img}} style="width: 200px; height: 150px; margin: 10%;">
                        </div>
                        <hr>
                    </div>
                </tr>
            </tbody>
        </table>
    
    </div>
    
</div>