<div class="row">
    <h1 class="text-center">Proyecos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-6 col-lg-6 parte1">
            <h1>1. Portfolio Web</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iusto tempora temporibus tenetur aperiam est recusandae mollitia fugiat quidem quas blanditiis eaque, nesciunt facere reprehenderit sed maxime cum porro expedita!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte1">
            <img src="../../../assets/AP.jpeg" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 parte2">
            <h1>2. Proyecto-2</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, excepturi iure cupiditate dicta repellat, qui saepe optio dignissimos velit maxime consequatur architecto sapiente atque dolor natus, vel quos laboriosam culpa?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/AP.jpeg" class="img-fluid">
        </div>
    </div>
</div>