<div class="row">
    <h1 class="text-center">Skills</h1>
    <h5 class="text-center">Estas son algunas de las tecnologías de las que tengo conocimiento.</h5>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 circulos">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [imageSrc]="'../../../assets/python.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
        
    ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="80"
        [radius]="70"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="70"
        [imageSrc]="'../../../assets/css3.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="70"
        [imageSrc]="'../../../assets/js.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="70"
        [imageSrc]="'../../../assets/c.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [imageSrc]="'../../../assets/c++.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="true"
    ></circle-progress>
    </div>
</div>