<div class="row" style="background-size: cover; background-image: url(https://images2.alphacoders.com/589/589399.jpg);">
    
    <h1 class="text-center">Skills</h1>
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">
            Agregar +
        </button>
    </div>


    <h5 class="text-center">Estas son algunas de las tecnologías de las que tengo conocimiento.</h5>
    <div class="text-center col-xs-12 col-sm-6 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress
        [percent]="(skill.porcentaje)"
        [radius]="70"
        [imageSrc]="''"
        [title]="(skill.nombre)"
        [titleColor]="'#51424'"
        [showImage]="false"
        [showTitle]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showSubtitle]="false"
        [showUnits]="false"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#051424'"
        [innerStrokeColor]="'#051424'"
        [animation]="true"
        [animationDuration]="600"
        [lazy]="false"
        
    ></circle-progress>
    <div>
        <td *ngIf="isLogged">
            <button class="btn btn-primary" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil-fill"></i></button>
        </td>
        <td style="color:transparent;">| |</td>
        <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash3-fill"></i></button>
        </td>
    </div>
 
    </div>
</div>