<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url(../../../assets/fondo.jpg);">
    
    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3   h-50 ">
          <div class="card shadow">
            <div class="card-body mx-auto">
              <h4 class="card-title mt-3 text-center">Crear una Cuenta</h4>
                <br>
              <p>
                <a href="" class="btn btn-block btn-info">
                  <i class="fa fa-twitter"></i>Twitter</a>
                |
                <a href="" class="btn btn-block btn-primary">
                  <i class="fa fa-facebook-f mr-2"></i>Facebook</a>
              </p>
              <p class="text-muted font-weight-bold ">
                <span>Ingresar</span>
              </p>
              <form>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                  </div>
                  <input name="" class="form-control" placeholder="Nombre de Usuario" type="text">
                </div>
                <br>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Contraseña" type="password">
                </div>
                <br>
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Repetir Contraseña" type="password">
                </div>
                <br>
                <div class="form-groupp">
                  <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta </button>
                </div>
                <p class="text-center">Ya tienes una cuenta?
                  <a href="/login1">Ingresar</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
 </section>