<form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

  <td>
    <input type="text" class="form-control btn-sm" id="nombreUsuario"  placeholder="Nombre de Usuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required>
  </td>
  <td style="color:transparent">| |</td>
  <td>
    <input type="password" class="form-control btn-sm" id="password"  placeholder="Contraseña"[(ngModel)]="password" name="password" required>
  </td> 
  <td style="color:transparent">| |</td>
  <td>
    <button class="btn btn-light btn-sm "  type="submit">Iniciar <i class="bi bi-box-arrow-in-right"></i></button>
  </td>

</form>