<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h3>Tecnico en Equipos e Instalaciones Electromecanicas</h3> - <em><h5>(completo)</h5></em>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facilis quisquam omnis quis asperiores eligendi doloremque! Magnam voluptate deleniti mollitia. Quam aliquam beatae, ratione ea quidem blanditiis quod incidunt exercitationem.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Ingenieria en Computacion</h3> - <em><h5>(incompleto)</h5></em>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facilis quisquam omnis quis asperiores eligendi doloremque! Magnam voluptate deleniti mollitia. Quam aliquam beatae, ratione ea quidem blanditiis quod incidunt exercitationem.
            </p>
        </ul>
        <ul>
            <li>
                <h3>Desarrollador Full Stack</h3> - <em><h5>(completo)</h5></em>
            </li>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores facilis quisquam omnis quis asperiores eligendi doloremque! Magnam voluptate deleniti mollitia. Quam aliquam beatae, ratione ea quidem blanditiis quod incidunt exercitationem.
            </p>
        </ul>
    </div>
</div>