.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}
/*Estilo de mi nombre*/
#nombre{
    font-weight: bold;
    margin-top: 20%;
}
/*Estilo de la foto de perfil*/
@media (min-width: 1300px){
    #perfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 600px;
    }
}
@media (min-width: 576px){
    #perfil{
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
    }
}
@media (max-width: 575px){
    #perfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 950px;
    }
}
@media (max-width: 400px){
    #perfil{
        position: absolute;
        width: 27%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 750px;
    }
}