<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Zdanovicz Nicolas Agustin</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Soy estudiante de Ingenieria en Computacion, actualmente me encuentro cursando el 3er año y autodidacta en programación desde el año 2021. He realizado algunos cursos, en distintas plataformas como Youtube, Udemy, mumuki. Tengo conocimientos en lenguajes como c++, c, phyton, entre otros</p>
        </span>
    </div>
</div>