.contenedor{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.redes{
    margin-right: 1em;
}
#logoAP{
    width: 150px;
}
img{
    width: 50px;
}
.btn{
    border-radius: 100%;
    width:3rem;
    height: 3rem;
    margin-left: 0.9rem;
    
}

.l-1,.l-2{
    display: inline-flex;
    margin: 0.2rem;
}
/*Para pantallas de celulares*/
@media (max-width: 576px){
    .contenedor{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}