<div class="row">
    <h1>Proyecos Realizados</h1>
    <div>
       1 -
    </div>
    <div>
       2 -
    </div>
    <div>
        3 -
    </div>
    <!--<div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>1.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate iusto tempora temporibus tenetur aperiam est recusandae mollitia fugiat quidem quas blanditiis eaque, nesciunt facere reprehenderit sed maxime cum porro expedita!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/python.png" class="img-fluid img-proyecto">
        </div>
    </div>-->
</div>